	body
	{
		color: #FFFFFF;
		font-family: sans-serif;
	}

	#container
	{
		background: #FFFFFF;
	}

	#cover
	{
		position: absolute;
		top: 0;
		left: 0;
		display: none;
		height: 100vh;
		width: 100vw;
		opacity: 0.7;
		background: #000000;
		z-index: 700;
	}

	#header
	{
		background: #bf1918;
		font-family: 'Francois One', sans-serif;
		padding: 5px;
		height: 120px;
		width: 100vw;
		box-shadow: 0px 0px 8px 0px #000000;
		position: absolute;
		top:0;
		left: 0;
	}

	#title2,#title3,#title4
	{
		position: relative;
		top: -10px;
		margin-bottom: -19px;
		font-weight: normal;
	}

	#title2
	{
		font-size: 170%;
	}

	#title1
	{
		position: relative;
		top: -10px;
		margin-bottom: -25px;
		font-weight: normal;
	}

	#logo
	{
		position: relative;
		float: left;
	}


#menu
{
	
	position: absolute;
	left: 87%;
	top: 65px;
	height: 50px;
	width: 50px;
	cursor: pointer;
}

#menu>.menu_line
{
	position: relative;
	height: 5px;
	width: 100%;
	background: #FFFFFF;
	margin-bottom: 5px;
	margin-top: 7px;
	border-radius: 10px;
}

#menu_container
{
	position: absolute;
	background: #bf1918;
	display: none;
	top: 0px;
	right: 0px;
	height: 100%;
	min-width: 300px;
	box-shadow: 0px 0px 1px 1px #000000;
	z-index: 1000;
}

#menu_container>ul
{
	list-style: none;
}


.menu_item
{
	position: relative;
	height: 45px;
	cursor: pointer;
	text-decoration: none;
	top: -15px;
	text-align: center;
	padding-top: 15px;
	right: 40px;
	width: 115.5%;
	font-size: 110%;
	font-weight: normal;
	font-family: 'Francois One', sans-serif;
	border-bottom: 1px solid #FFFFFF;
	transition: background-color ease-out 1s;
}

.menu_item:hover
{
	text-decoration: underline;
	background: #e74c3c;
}



.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  
  position: absolute;
  top: 131px;
  left: -5px;
  width: 101%;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

	