	body
	{
		color: #FFFFFF;
		background: white;
		font-family: sans-serif;
	}

	#container
	{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}

	#cover
	{
		position: absolute;
		top: 0;
		left: 0;
		display: none;
		height: 200vh;
		width: 100vw;
		opacity: 0.7;
		background: #000000;
		z-index: 700;
	}

	#header
	{
		position: relative;
		top:0;
		left: 0;
		background: white;
		color: #4cd137;
		font-family: 'Francois One', sans-serif;
		padding: 5px;
		height: 135px;
		width: 99.2%;
	}

	#title1
	{
		position: relative;
		top: -20px;
		font-weight: normal;
		font-family: 'Francois One', sans-serif;
	}

	#title2
	{
		position: relative;
		top: -50px;
		font-weight: normal;
		font-family: 'Francois One', sans-serif;
	}

	#title3
	{
		position: relative;
		top: -77px;
		left: 4%;
		width: 50%;
		font-weight: normal;
		font-family: 'Francois One', sans-serif;
	}

	#title4
	{
		position: relative;
		top: -95px;
		left: 3.7%;
		width: 50%;
		font-weight: normal;
		font-family: 'Francois One', sans-serif;
		text-decoration: underline;
	}

	#navBar
	{
		position: relative;
		height: auto;
		width: 95%;
		top: -17.7px;
		left: 2%;
		background: #333333;
	}

	#textscroll
	{
		position: relative;
		height: auto;
		width: 95%;
		top: -17.7px;
		left: 2%;
		color: #333333;
		background: #FFFFFF;	
	}

		ul.topnav {
	  list-style-type: none;
	  font-size: 16px;
	  margin: 0;
	  margin-left: 25%;	
	  padding: 0;
	  overflow: hidden;
	  background-color: #333;
	}

	ul.topnav li {float: left;}

		ul.topnav li a {
	  display: block;
	  color: white;
	  height: 100%;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
	}

	ul.topnav li a:hover:not(.active)
	{
		background-color: #111;
		text-decoration: underline;
	}

	ul.topnav li a.active 
	{
		background-color: #111;
		text-decoration: underline;
	}


	#menu
	{
		
		position: absolute;
		left: 87%;
		top: 65px;
		height: 50px;
		width: 50px;
		cursor: pointer;
	}


	#menu>.menu_line
	{
		position: relative;
		height: 5px;
		width: 100%;
		background: #FFFFFF;
		margin-bottom: 5px;
		margin-top: 7px;
		border-radius: 10px;
	}


	@media screen and (min-width:651px)
	{
		#title1
		{
			font-size: 20px;
		}

		#title2
		{
			font-size: 30px;
		}

		#title3
		{
			font-size: 15px;
		}

		#title4
		{
			font-size: 15px;
		}
	}

	@media screen and (max-width:650px)
	{
		#title1
		{
			font-size: 16px;
			top: -15px;

		}

		#title2
		{
			font-size: 20px;
			top: -35px;
		}

		#title3
		{
			font-size: 13px;
			top: -53px;
			left: 9.5%;
		}

		#title4
		{
			font-size: 12px;
			top: -70px;
			left: 10%;
		}
	}

	@media screen and (max-width:400px)
	{
		#title1
		{
			font-size: 16px;
			top: -15px;
		}

		#title2
		{
			font-size: 20px;
			top: -35px;
		}

		#title3
		{
			font-size: 12px;
			top: -55px;
			left: 13%;
		}

		#title4
		{
			font-size: 11px;
			top: -72px;
			left: 13%;
		}
	}

	#logo
	{
		position: relative;
		float: left;
		margin-left: 40px;
		margin-top: -1px;
	}



#content
{
	position: relative;
	border: 1px solid #000;
	top: 0px;
	left: -3%;
	box-shadow: 1px 1px 1px 1px #DCDCDC;
	color: #000000;
	padding: 13px;
	width: 45%;
	font-size: 12.5px;
	background: white;
	font-family: 'Francois One', sans-serif;
	float: right;
	height: 655px;
}

#content > table
{
	table-layout: auto;
}

#content > table,th,td
{
	border: 1px solid #000;
	width: 100%;
	position: relative;
	text-align: center;
	border-collapse: collapse;
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 8px;
	padding-bottom: 8px;
}

#highlights
{
	position: relative;
	border: 1px solid #000;
	top: 0px;
	left: 2%;
	box-shadow: 1px 1px 1px 1px #DCDCDC;
	padding: 15px;
	width: 45%;
	font-size: 12px;
	background: white;
	float: left;
}

#map
{
	position: relative;
	border: 1px solid #000;
	top: 20px;
	height: 175px;
	left: 2%;
	box-shadow: 1px 1px 1px 1px #DCDCDC;
	color: #000000;
	padding: 15px;
	width: 45%;
	font-size: 15px;
	background: white;
	font-family: 'Francois One', sans-serif;
	float: left;
}

#mmap
{

	border: 1px solid #000;
	position: relative;
	float: left;
	top: -8px;
}

#footer
{
	position: absolute;
	bottom: -3%;
	text-align: center;
	left: 0;
	color: #000000;
	padding: 5px;
	width: 100%;
	font-size: 12px;
	height: 30px;
	background: #4CAF50;
	font-family: 'Francois One', sans-serif;
}

@media screen and (max-width: 900px)
{
	#content
	{
		width: 89%;
		float: none;
		left: 2%;
		min-width: 250px;
		top: 20px;
		height: auto;
	}

	#highlights
	{
		width: 89%;
		float: none;
		left: 2%;
		top: 4px;
		min-width: 250px;
	}

	#map
	{
		float: none;
		top: 40px;
		width: 89%;
		left: 2%;
		font-size: 12px;
		min-width: 250px;

	}

	#footer
	{
		height: 40px;
		bottom: -5%;
	}
}


@media screen and (max-width: 550px)
{
	#footer
	{
		height: 79px;
		bottom: -6%;
	}

	#map
	{
		top: 35px;
	}
}


.mySlides {display: none;}

/* Slideshow container */
.slideshow-container {
  
  position: relative;
  top: -17px;
  left: 2%;
  width: 95%;
  height: auto;
}

.slideshow-container > .mySlides >img
{
	position: relative;
	max-width: 100%;
	height: auto;
	width: auto;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


@media screen and (max-width: 650px)
{
	  ul.topnav
	  {
	  	margin-left: 0%;
	  }

	  ul.topnav li 
	  {
	  	float: none;
	  }

	  .slideshow-container
	  {
	  		position: relative;
	  		top: -17px;
	  }

}

@keyframes change1
{
	0%
	{
		color: #333333;
	}

	50%
	{
		color: yellow;
	}

	100%
	{
		color: #333333;
	}
}

@keyframes change2
{
	0%
	{
		color: #333333;
	}

	50%
	{
		color: red;
	}

	100%
	{
		color: #333333;
	}
}


@keyframes change3
{
	0%
	{
		color: #333333;
	}

	50%
	{
		color: brown;
	}

	100%
	{
		color: #333333;
	}
}

@keyframes change4
{
	0%
	{
		color: #333333;
	}

	50%
	{
		color: green;
	}

	100%
	{
		color: #333333;
	}
}

